.container
    .main-background.col-lg-12.col-md-12
        img(src="stylesheets/mebop_mainpage.png", style="width:100%")
        .main-background-layer
                .mbg-text
                    p Mebop (Media bop) is multicamera-director simulator, which helps everyone to learn and practice how directors' work.
    .main-content.col-lg-10.col-lg-offset-1
        br
        br
        h1 How to use Mebop?
        p
           | First you need an account in order to use this service. After that you can access assignments through assignments tab on the navigation panel.
        br
        br
        .instructions01
            img(src="stylesheets/instructions01.png", style="width:50%")
        br
        br
        p
            | You will see list of available assignments. Clicking one will take you to this assignments' details page, from where you can proceed to executing the assignment.
        .instructions02
            img(src="stylesheets/instructions02.png", style="width:75%")
        br
        br
        p
            | Details include how many cameras there will be, description, task, title of the assignment as well as your previous completions for this assignment and it will look something like this.
        .instructions03
            img(src="stylesheets/instructions03.png", style="width:50%")
        br
        br
        p
            | You can press the button "run assignment" to execute the assignment. After that you will be handled the controls over the cameras and your screen will look something like following:
        .instructions04
            img(src="stylesheets/instructions04.png", style="width:100%")
        br
        br
        p
            | The left screen is your recording screen and this is what the end-viewer will see, the controls for this screen are red buttons.
            | The right screen is your preview screen and this is in order to understand what your are going to show to the end-viewer, the controls for this screen are green buttons or 1, 2, 3, 4 on your keyboard.
            | In order to transfer the preview screen to the record screen you need to press Take button or hit enter on your keyboard.
            | The buttons that are currently active will be highlighted so you know what cameras are active on one screen or the other.
        .instructions05
            img(src="stylesheets/instructions05.png", style="width:100%")
        br
        br
        .instructions06
            img(src="stylesheets/instructions06.png", style="width:100%")
        br
        br
