.container
            .col-lg-4
                p
                    br

                    br

                    br

            .col-lg-4
                p
                    br
                    | © Metropolia - Osaamista ja oivallusta tulevaisuuden tekemiseen
                    br

                    br

            .col-lg-4
                p
                    br

                    br

                    br


