script(src="javascripts/app/app.js")
script(src="javascripts/app/Identity.js")
script(src="javascripts/app/Auth.js")
script(src="javascripts/app/User.js")
script(src="javascripts/app/admin/UserListCtrl.js")
script(src="javascripts/app/RegisterCtrl.js")
script(src="alienJS/toastr.min.js")
script(src="javascripts/app/ProfileCtrl.js")
script(src="javascripts/app/Assignment.js")
script(src="javascripts/app/AssignmentsCtrl.js")
script(src="javascripts/app/NewAssCtrl.js")
script(src="javascripts/app/RunAssignmentCtrl.js")
script(src="javascripts/app/Video.js")
script(src="javascripts/app/FinalCtrl.js")
script(src="javascripts/app/AssDetailsCtrl.js")
script(src="javascripts/app/Topic.js")
script(src="javascripts/app/TopicMessage.js")
script(src="javascripts/app/ForumCtrl.js")
script(src="javascripts/app/ForumTopicCtrl.js")
script(src="javascripts/videoUploadPage.js")
script(src="javascripts/app/finalCtrl.js")
script(src="javascripts/app/AssDetailsCtrl.js")
script(src="javascripts/app/admin/GroupsCtrl.js")
script(src="javascripts/app/admin/GroupCtrl.js")
script(src="javascripts/app/admin/NewGroupCtrl.js")
script(src="javascripts/app/Group.js")
script(src="javascripts/app/admin/AssResultsCtrl.js")

//script(src="javascripts/LineAssignment.js")
